* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #2b79d7;
  box-shadow: none;
  border: none;
}